body {
  background-color: #fff; 
}

.container-box {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.baris-1 {
  background-color: black;
  height: 140px; 
  padding-top: 20px; 
}

h3 {
  font-family: 'Roboto', sans-serif; 
  font-size: 2em; 
  color: #008080; 
  text-align: left; 
  text-transform: capitalize; 
  letter-spacing: 0.1em; 
  text-shadow: 2px 2px 4px #808080; 
  line-height: 1.5; 
}

.container-fluid, .container-fluid2 {
  border-bottom: 2px solid #000; 
  padding: 10px 0;
  background-color: #d3d3d3; 
}

#header h2, 
#header p {
  margin: 0;
  background-color: black;
  opacity: 80%;
  height: 90px;
}
#hours, #minutes, #seconds {
  color: white;
  font-size: xx-large;
  font-weight: bold;
  background: -webkit-linear-gradient(right, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@import url('https://fonts.googleapis.com/css2?family=Stoic+Script&display=swap');
.container-fluid2 p {
  font-family: 'Stoic Script', cursive; /* Gunakan font Stoic Script */
  font-weight: bold; /* Teks tebal */
}

#dataTable {
  border-collapse: collapse; 
}

#dataTable th, #dataTable td {
  text-align: center; 
  border-left: 1px solid #000; 
}

#dataTable th:first-child, #dataTable td:first-child {
  border-left: none; 
}

.btn {
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
}

.btn {
  font-weight: bold; 
  transition: transform 0.3s ease-in-out; 
}

.btn:hover {
  transform: scale(1.1); 
}

.bg-gradient-info {
  color: rgb(10, 158, 237); 
}

.bg-gradient-danger {
  color: rgba(249, 6, 6, 0.922); 
}