.container-box {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.baris-1 {
  background-color: black;
  height: 140px; 
  width: 100%;
  padding-top: 20px; 
}

.container.pt-4 {
  background-color: black;
}

#header h2, 
#header p {
  margin: 0;
  background-color: black;
  opacity: 80%;
  height: 90px;
}
#hours, #minutes, #seconds {
  color: white;
  font-size: xx-large;
  font-weight: bold;
  background: -webkit-linear-gradient(right, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#container-fluid {
  font-size: 8em; 
  font-weight: bold;
  text-align: right; 
  margin-top: 20%;
  font-family: 'Arial', sans-serif; 
}

#container-fluid span {
  padding: 0 10px; 
}
