body {
  background-color: #fff; 
}

.container-box {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.baris-1 {
  background-color: black;
  height: 140px; 
  padding-top: 20px; 
}
h3 {
  font-family: 'Roboto', sans-serif; 
  font-size: 2em; 
  color: #008080; 
  text-align: left; 
  text-transform: capitalize; 
  letter-spacing: 0.1em; 
  text-shadow: 2px 2px 4px #808080; 
  line-height: 1.5; 
}

.container-fluid, .container-fluid2 {
  border-bottom: 2px solid #000; 
  padding: 10px 0;
  background-color: #d3d3d3; 
}

#header h2, 
#header p {
  margin: 0;
  background-color: black;
  opacity: 80%;
  height: 90px;
}
#hours, #minutes, #seconds {
  color: white;
  font-size: xx-large;
  font-weight: bold;
  background: -webkit-linear-gradient(right, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#container-fluid {
  font-size: 8em; 
  font-weight: bold;
  text-align: right; 
  margin-top: 20%;
  font-family: 'Arial', sans-serif; 
}

#container-fluid span {
  padding: 0 10px; 
}

@import url('https://fonts.googleapis.com/css2?family=Stoic+Script&display=swap');

.container-fluid2 p {
  font-family: 'Stoic Script', cursive; 
  font-weight: bold; 
}
